* {
    box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
	display: inline;
}

button {
	background-color: #ffffff;
	color : black;
}

html, body {
	height: 100%;
	margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.head {
	display: flex;
	height: 15%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 2ch 20px 2ch 20px;
}

#invisible {
    background-color: #f0f0f0;
}

.menu-toggle {
	height: 100%;
	width: 100px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.main-logo img {
	width: 88px;
	height: 80px;
}

.menu-toggle img {
	width: 30px;
	cursor: pointer;
}

.container {
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    height: 85%;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 80%;
	height: 55%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	margin-top: 10px;
}

.content {
	border: 1px solid red;
	width: 100%;
	height: 100%;
	display: flex;
}

.main .content {
	flex-direction: column;
	padding-bottom: 10px;
}

.content-tabs {
    display: flex;
    width: 100%;
	border-bottom: 0.5px solid black;
}

.content-tab {
	flex-grow: 1;
	max-width: 33.3333333333%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
	color: black;
	padding: 0px;
}

#xbox-tab {
	border-top-left-radius: 10px;
	background-color: #95D184;
}
#nintendo-tab {
	background-color: #f84c46;
}
#ps5-tab {
	background-color: #3f89f9;
	border-top-right-radius: 10px;
}

.content-lists {
	flex-grow: 1;
    overflow-y: auto;
}

.content-element {
	border-bottom:0.5px solid black;
    background-color: #ffffff;
	padding-left: 3.5vw;
	padding-right: 3.5vw;
	width: 100%;
	height: 67px;
	display: flex;
	align-items: center;
}

.content-time {
	font-size: 14px;
	margin-left : 6vw;
	height: 100%;
	display: flex;
	align-items: center;
}

.content-value {
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-grow: 1;
	padding-left: 9.5vw;
	padding-right: 6vw;
}

.sub {
    background-color: #ffffff;
    width: 80%;
	height: 15%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	margin-top: 6vw;
}

.sub .content {
	flex-direction: column;
}

.content-div {
	border:1px solid blue;
	height: 50%;
	width: 100%;
}

