* {
    box-sizing: border-box;
	/* border:1px solid red; */
}

p {
	margin: 0;
	padding: 0;
	display: inline;
}

html, body {
	height: 100%;
	margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.head {
	width: 100%;
	display: flex;
	height: 15%;
	flex-direction: row;
	justify-content: space-between; /* 로고와 햄버거를 양쪽으로 정렬 */
	align-items: center; /* 수직 정렬 */
	color: #fff;
	padding: 2ch 20px 2ch 20px;
}

.container {
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    height: 85%;
}

.logo img {
	width: 50px;
}

.menu-toggle img {
	width: 30px;
	cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 80%;
	height: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	margin-top: 10px;
}

.user {
	width: 100%;
	height: 30%;
    display: flex;
    padding: 20px;
	align-items: center;
}

.user-img-box {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-img {
	background-color: #F37A6E;
	border:0.7px solid black;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.user-info {
	width: 50%;
	height: 90px;
    display: flex;
    flex-direction: column;
}

.user-name {
	width: 134px;
	height: 23px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 28px;

	color: #000000;
}

.user-playtime{

	width: 73px;
	height: 15px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	color: #000000;
}

.user-now-play {
	font-size: 12px;
	width: 108px;
	height: 24px;
	color: #333333;
	background: #B5B5B5;
	border-radius: 12px;
	margin-top:auto;
}

.content {
	height: 70%;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}


.content-tabs {
    display: flex;
    width: 100%;
	border-bottom: 0.5px solid black;
}

.content-tab {
    flex-grow: 1;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-lists {
	flex-grow: 1;
    overflow-y: scroll;
}

.content-element {
	border-bottom:0.7px solid black;
    background-color: #ffffff;
	padding-left: 3.5vw;
	padding-right: 3.5vw;
	height: 67px;
	display: flex;
	align-items: center;
}

.button-style {
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}

@media (hover: none) { /* when supported */
	button-style:hover {
	  color: white;
	  background: black;
	}
  }

.content-time {
	font-size: 14px;
	margin-left : 6vw;
	height: 100%;
	display: flex;
	align-items: center;
}

.content-value {
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-grow: 1;
	padding-left: 9.5vw;
	padding-right: 6vw;
}

