html, body {
	width: 100%;
	height: 100%;
}

/* hide */
.hidden {
	visibility: hidden;
}

/* border */
.border-black {
	border: 1px solid black;
}

/* flexbox */
.flexbox-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.flexbox-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* grid */
.grid {
	display: grid;
}

/* header */
.header {
	width: 100%;
	height: 24%;
	padding: 0px;
}
.header .section {
	align-items: center;
	justify-content: center;
}
.section.left, .section.right {
	width: 19%;
}
.section.left {
	justify-content: right;
}
.section.center {
	flex-grow: 1;
}
.material-symbols-outlined.home {
	font-size: 38px;
	margin: 0px;
	margin-bottom: 100%;
}

/* main */
.main {
	height: 76%;
}
.tournament {
	width: 100%;
	height: calc(100% - 88px);
	grid-template-columns: 1.5fr 1fr 1.5fr;
	grid-template-areas: 
		"";
}

/* footer */
.footer {
	position: absolute;
	left: 0;
	top: calc(100% - 88px);
	height: 88px;
	width: 100%;
}
.footer img {
	width: 83px;
	height: 42px;
}